
extends layout


block content
    h1= title
    .container-fluid
        .row
            each candidate in candidates
                .media
                    .media-left
                        a(href='#')
                            img.media-object(src=`${candidate.photo_president}`, alt=`${candidate.president}` style='width:64px; height:64px')
                    .media-body
                        a(href='#')
                            h4.media-heading.text-capitalize #{candidate.president}
                        p.text-capitalize #{candidate.polorg}





