extends layout


block content

    .page-header
        h1= title
    .container-fluid
        .row
            p These are the candidates that postulated for the Presidential Election on Feb 29, 2017 in Ecuador. The results shown are the final results published by the
                mark
                    a(href="http://cne.gob.ec/es/")  National Electoral Council

        .row
            .col-md-6
                h4.text-center Sort By

                .btn-group.btn-group-justified(role='sort')

                    .btn-group(role='group')
                        button(type='button',  class='btn sort' id='name') Name

                    .btn-group(role='group')
                        button(type='button', class='btn sort' id='percentage') Percentage
            .col-md-2
                h4.text-center View

                .btn-group.btn-group-justified(role='view')

                    .btn-group(role='group')
                        button(type='button',  class='btn view grid' id='grid')
                            span.glyphicon.glyphicon-th-large(aria-hidden='true')

                    .btn-group(role='group')
                        button(type='button', class='btn view media' id='list')
                            span.glyphicon.glyphicon-th-list(aria-hidden='true')

        .row.candidate


            each candidate in candidates

                if candidate.president !== "null"
                    - var lastname = candidate.president.split(' ').slice(-1).join(' ').trim();
                    - var myNumeral = h.numeral(1,000);

                .row.col-md-12
                    .containerP
                        .itemflex
                            a(href='#')
                                img.img-circle(src=`${candidate.photo_president}`, alt=`${candidate.president}`)

                            a.fun_hover.text-capitalize(href='#')
                                    h4  #{candidate.president}
                            p.text-capitalize
                                    small.orgpol #{candidate.polorg}
                                    span(type='hidden', name=`${candidate.president}`, value=`${candidate.total}`)
                        .itemflex
                            div(id=`bar-${lastname}` class="barchart")
                        .itemflex
                            div(id=`pie-${lastname}` class="piechart")
                        .itemflex
                            .results
                                h4 #{h.numeral(candidate.total).format('0,0')} votos
                                .resultsSplit
                                    .resultsSplitItem.women
                                        div
                                            span.glyphicon
                                                img.svg(src=`../images/icons/women.svg` style="width:20px; height:20px")
                                        div Women

                                        div #{h.numeral(candidate.totalwomen).format('0,0')} votos


                                    .resultsSplitItem.men
                                        div
                                            span.glyphicon
                                                img.svg(src=`../images/icons/men.svg` style="width:20px; height:20px")
                                        div Men

                                        div #{h.numeral(candidate.totalmen).format('0,0')} votos


                                        //div Men
                                        //    span.glyphicon(src=`../images/icons/men.svg` style="width:15px; height:15px")
                                        //div #{h.numeral(candidate.menPerc).format('0.00%')}

                script(type='text/javascript').
                            var candidate = [!{JSON.stringify(candidate)}];

                script(src="/javascripts/candidates/candidateBar.js")

                script(src="/javascripts/candidates/candidatePie.js")


                    //
                    //.media(data-value=`${candidate.total}`  data-name="#{lastName}")
                    //    .media-left
                    //        .containerFlex
                    //            .itemflex
                    //                a(href='#')
                    //                    img.media-object(src=`${candidate.photo_president}`, alt=`${candidate.president}` style='width:64px; height:64px')
                    //
                    //
                    //
                    //    .media-body
                    //
                    //        .containerFlex
                    //            div.itemflex
                    //                a.fun_hover.text-capitalize(href='#') #{candidate.president}
                    //                p.text-capitalize
                    //                    small.orgpol #{candidate.polorg}
                    //                    span(type='hidden', name=`${candidate.president}`, value=`${candidate.total}`)
                    //
                    //            div.itemflex
                    //                div(id=`bar-${lastname}` class="barchart")
                    //
                    //            div.itemflex
                    //                div(id=`pie-${lastname}` class="piechart")
                    //
                    //            div.itemflex
                    //                p Text
                    //





                            //
                            script(type='text/javascript').
                                var candidate = [!{JSON.stringify(candidate)}];

                            script(src="/javascripts/candidates/candidateBar.js")
                            //script(src="/javascripts/candidates/candidatePie.js")
                            ////script(src="/javascripts/modules/raphael.min.js")
                            ////script(src="/javascripts/candidates/candidateMap.js")
                            ////
                            ////
                            ////
