extends layout


block content
    //pre= h.dump(candidates)
    .page-header
        h1= title
    .container-fluid
        .row
            p These are the candidates that postulated for the Presidential Election on Feb 29, 2017 in Ecuador. The results shown are the final results published by the
                mark
                    a(href="http://cne.gob.ec/es/")  National Electoral Council

        .row
            .col-md-6
                h4.text-center Sort By

                .btn-group.btn-group-justified(role='sort')

                    .btn-group(role='group')
                        button(type='button',  class='btn sort' id='name') Name

                    .btn-group(role='group')
                        button(type='button', class='btn sort' id='percentage') Percentage
            .col-md-2
                h4.text-center View

                .btn-group.btn-group-justified(role='view')

                    .btn-group(role='group')
                        button(type='button',  class='btn view grid' id='grid')
                            span.glyphicon.glyphicon-th-large(aria-hidden='true')

                    .btn-group(role='group')
                        button(type='button', class='btn view media' id='list')
                            span.glyphicon.glyphicon-th-list(aria-hidden='true')

        .row.candidate





            each candidate in candidates

                if candidate.president !== "null"

                    .media(data-value=`${candidate.total}`  data-name=`${candidate.president.split(' ').slice(0, 1).join(' ')}`)
                        .media-left
                            a(href='#')
                                img.media-object(src=`${candidate.photo_president}`, alt=`${candidate.president}` style='width:64px; height:64px')

                        .media-body
                            a.fun_hover.text-capitalize(href='#') #{candidate.president}

                            p.text-capitalize
                                small.orgpol #{candidate.polorg}
                            span(type='hidden', name=`${candidate.president}`, value=`${candidate.total}`)



                            svg(class=`${candidate.president.split(' ').slice(-1).join(' ')}` width="500" height="80")

                            div(id=`circle-${candidate.president.split(' ').slice(-1).join(' ').trim()}` style=" width:auto; height:auto; background-color: #4F4F4F")
                            svg(class="svgEmbed" id=`svgEmbed-${candidate.president.split(' ').slice(-1).join(' ').trim()}` width="200" height="200" style=" height: 200px;                         ")



                            //
                            script(type='text/javascript').
                                var candidate = [!{JSON.stringify(candidate)}];

                            script(src="/javascripts/modules/candidates_svg.js")
                            script(src="/javascripts/modules/test.js")








