
extends layout


block content
    .page-header
        h1= title
    .container-fluid
        .row

            each candidate in candidates
                if candidate._id != "5966c7eaf36d28096070ba20" && candidate._id != "5966c887f36d28096070ba46"
                    .media
                        .media-left
                            a(href='#')
                                img.media-object(src=`${candidate.photo_president}`, alt=`${candidate.president}` style='width:64px; height:64px')

                        .media-body
                            a.fun_hover.text-capitalize(href='#') #{candidate.president}

                            p.text-capitalize
                                small.orgpol #{candidate.polorg}





