extends layout

block content
<<<<<<< HEAD
  h1= message
  h2= error.status
  pre #{error.stack}
=======
  .inner
    h2= status
    p= message
  pre.error!= stackHighlighted
>>>>>>> 8d124a91603859c16671a3116591e96a149e60b5
