extends layout


block content


    .page-header
        h1= 'Votes per Province'

    .col-md-12

<<<<<<< HEAD
        .col-md-6.text-center
=======
        .col-sm-12.col-md-6.col-lg-6.text-center
>>>>>>> 8d124a91603859c16671a3116591e96a149e60b5
            .row
                small Select a province to see the results

            .row
<<<<<<< HEAD
                div(id=`map`)
        .col-md-6
            .row.province.text-center


                img.svg(id="provimg" src=`../images/icons/defaultprov.svg` style="width:60px; height:40px; border: 1px solid #000")
                h4.text-capitalize(id="provname") Ecuador


            table.table.table-hover.table-sm.table-responsive.sortable(id='')
=======
                .fa-3x(id='spinner' style="display:none")
                  i.fas.fa-spinner.fa-spin

                div(id=`map`)
        .col-sm-12.col-md-6.col-lg-6
            
            .row.province.text-center


                img(id="provimg" src=`../images/icons/defaultprov.svg` )
                h4.text-capitalize(id="provname") Ecuador


            table.rwd-table(id="table_results")
>>>>>>> 8d124a91603859c16671a3116591e96a149e60b5
                thead
                    tr

                        th Candidate
<<<<<<< HEAD
                            //span.glyphicon
                            //    img.svg(src=`../images/icons/sort.svg` style="width:20px; height:20px")
                        th Total
                            //span.glyphicon
                            //    img.svg(src=`../images/icons/sort.svg` style="width:20px; height:20px")
                        th Men
                            //span.glyphicon
                            //    img.svg(src=`../images/icons/sort.svg` style="width:20px; height:20px")
                        th Women
                            //span.glyphicon
                            //    img.svg(src=`../images/icons/sort.svg` style="width:20px; height:20px")

                tbody
                    each candidate in candidates
                        - var lastname = candidate._id
                        
                        
                        tr
                            td.text-capitalize(id=`${candidate.president}`) #{candidate.president}
                            td(id=`${lastname}-total`)  0
                            td(id=`${lastname}-men`)  0
                            td(id=`${lastname}-women`)  0




        script(type='text/javascript').
            var provinces = !{JSON.stringify(provinces)};

        script(src="/javascripts/modules/raphael.min.js")
        script(src="/javascripts/candidates/candidateMap.js")
=======
                            i.fas.fa-sort.fa-fw
                        th Total
                            i.fas.fa-sort.fa-fw
                        th Men
                            i.fas.fa-sort.fa-fw
                        th Women
                            i.fas.fa-sort.fa-fw

                tbody
                    tr 
                        td(id="noprov") No Province selected yet
                 

            script(src="/javascripts/modules/raphael.min.js")
            script(src="/javascripts/candidates/candidateMap.js")
        
    
>>>>>>> 8d124a91603859c16671a3116591e96a149e60b5



