extends layout


block content
    .page-header
        h1= title

    .container-fluid


        .col-md-12


            //.btn-group.btn-group-justified(role='sort')
            //
            //    .btn-group(role='group')
            //        button(type='button',  class='btn sort' id='1round') 1st Round
            //
            //    .btn-group(role='group')
            //        button(type='button', class='btn sort' id='2round') 2nd Round

            each survey in surveys

                if(survey.number === 1)
                    .col-md-12

                        h2.text-capitalize.surveyTitle  #{survey.firm.name}
                        dl.row
                            dt.col-sm-3 Date
                            dd.col-sm-9 #{h.moment(survey.date).format('DD/MM/YYYY')}
                            dt.col-sm-3 Error Range
                            dd.col-sm-9
                                | &plusmn;
                                | #{survey.margin}
                            dt.col-sm-3 Cities
                            dd.col-sm-9.text-capitalize #{ survey.cities ? survey.cities : 'No results'}
                            dt.col-sm-3 Source
                            dd.col-sm-9
                                a(href=`${survey.source}`) Click Here



                        .col-md-6



                            -var surveyID = survey.firm.slug.replace('.','').trim()
                            table.table.table-hover.table-sm.table-responsive.sortable(id=surveyID)
                                thead
                                    tr

                                        th Candidate
                                            span.glyphicon
                                                img.svg(src=`../images/icons/sort.svg` style="width:20px; height:20px")
                                        th Percentage
                                            span.glyphicon
                                                img.svg(src=`../images/icons/sort.svg` style="width:20px; height:20px")

                                tbody
                                    each candidate in survey.candidates
                                        tr
                                            td.text-capitalize(scope='row') #{candidate.candidate.president}
                                            td #{(candidate.percentage * 100).toFixed(2)}



                        .col-md-6
                            div(id=`radar-${surveyID}`)

                            script(type='text/javascript').
                                var survey = [!{JSON.stringify(survey)}];
                                var candidates = !{JSON.stringify(finalArray)};
                            script(src="./javascripts/surveys/surveyRadar.js")


















