extends layout


block content
    .page-header
        h1= title

    .container-fluid

            each survey in surveys

                if(survey.number === 1)
                    
                      
                      .col-sm-12.col-md-12.col-lg-12.survey-container

                        h2.text-capitalize.survey-title  #{survey.firm.name}
                        .row.top-15
                          .col-sm-12.col-md-12.col-lg-12.survey-info
                            .survey-info-item
                              .title 
                                h4 Date
                              .description #{h.moment(survey.date).format('DD/MM/YYYY')}
                            .survey-info-item
                              .title
                                h4 Error Range
                              .description #{survey.margin}
                            .survey-info-item
                              .title
                                h4  Cities
                              .description #{ survey.cities ? survey.cities : 'No results'}
                            .survey-info-item
                              .title
                                h4  Source
                              .description 
                                a(href=`${survey.source}`) Click Here
                    
                                  
                        .row.top-15
                          .col-sm-12.col-md-12.col-lg-6

                            -var surveyID = survey.firm.slug.replace('.','').trim()
                            table.rwd-table(id=surveyID)
                                thead
                                    tr

                                        th Candidate
                                            i.fas.fa-sort.fa-fw
                                            
                                        th Percentage
                                            i.fas.fa-sort.fa-fw

                                            
                                tbody
                                    each candidate in survey.candidates
                                        tr
                                            td.text-capitalize(scope='row' data-th="Candidate") #{candidate.candidate.president}
                                            td(data-th="Percentage") #{(candidate.percentage * 100).toFixed(2)}
                          .col-sm-12.col-md-12.col-lg-6
                            div(id=`radar-${surveyID}` class="radar")

                            script(type='text/javascript').
                                var survey = [!{JSON.stringify(survey)}];
                                var candidates = !{JSON.stringify(finalArray)};
                            script(src="./javascripts/surveys/surveyRadar.js")